# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env.*
venv/
env/
.venv/
.Python
*.sqlite3
*.log
*.pot
*.mo

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
out/

# Vite (ou autres bundlers)
.vite/
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Coverage reports
coverage/
*.lcov

# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# JetBrains IDEs
.idea/

# VSCode
.vscode/

# Other
*.swp
*.swo
